@import url(//fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,500,500italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px; line-height: 20px;
}

google-map { display: block; height: 320px; }

/* Fallback for none-polymer browsers */
body #no-polymer { display: none; }
body[unresolved] #no-polymer { display: block; }
#no-polymer {
  padding: 1ex;
  color: white;
  background: darkred;
}
#no-polymer a, #no-polymer a:visited, #no-polymer a:hover {
  color: white;
  text-decoration: underline;
}
