language: ruby
install:
- scripts/install-deps.sh
script:
  - node scripts/fetch_pubs.js
  - make
after_success:
- if [ "$TRAVIS_BRANCH" == "master" -a "$TRAVIS_REPO_SLUG" == "rjw57/richwareham.com-static"
  ]; then ./scripts/deploy.sh; fi
env:
  global:
    secure: jIeXrnv3VhIpPXOni787CITduAB28v5X1wtaPMtY/CN930Kp4NLII/I74RAurAyEybMtQH2bCLnO839UV3Ql5CvqcYUhhWcbg22WvETpdndeNQTpPhAW7YAAIk4W34/ynC5qBUE2lj+95Y/eGzM4v3J+ydToBEhxgww/kIJCuiM=
