<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <script src="{{site.url}}/components/platform/platform.js"></script>
  <link rel="import" href="/elements/elements.vulcanized.html">

  <!-- MathJax support -->
  <script type="text/x-mathjax-config">
    // Workaround for https://github.com/Polymer/platform-dev/issues/30
    MathJax.Hub.Config({
      elements: document.getElementsByTagName("body")
    });
  </script>
  <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
